@charset "utf-8";
/* CSS Document */

html {
  font-size: 1.5vw;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
	color: #333;
  line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
  position:relative;
  height: 100vh;
  width: 100vw;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.62rem;
	color: #f58500;
}

a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #135286;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 0.6rem;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
#maincontent {
  background-color: #135286;
  width: 100%;
  height: auto;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 0.96rem;
  letter-spacing: 0.09rem;
  padding: 2.25rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
header {
  position: relative;
  top: 0; left: 0;
  width: 100%;
  z-index: 1001;
}

/* ====================== Document Medias ====================== */
@media screen and (max-width: 768px) {
  nav {
    height: 20rem;
  }
  ul, li {
    font-size: 25px;
  }
  #footer {
    font-size: 18px;
  }
}

@media screen and (min-height: 1110px) {
  #maincontent {
    height: 100%;
  }
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 5.2rem;
  background-color: #252831;
  transition: height 700ms linear;
}
nav h1 {
  margin: auto;
  text-align: center;
}
nav h1 a {
  color: #fff;
  font-size: 1.68rem;
  font-weight: 200;
  letter-spacing: 0.9rem;
  text-transform: uppercase;
  transition: font-size 700ms linear;
}
.inside #breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #135286;
  font-size: 2rem;
  margin: 0;
  width: 100%;
  border-bottom: 2px solid #333;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: #f58500;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #fff;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    text-decoration: underline;
}

/* ====================== Navigation Medias ====================== */

@media screen and (max-width: 768px) {
  nav {
    height: 6rem;
  }
  nav h1 a {
    display: inline-block;
    font-size: 2.5rem;
  }
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

#map .leaflet-control-attribution a {
  color: #0D5973;
}

/* ====================== Map Medias ====================== */
@media screen and (max-width: 768px) {
  #map {
    height: 250px;
  }
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: auto;
  background-color: #135286;
  align-items: center;
  border-bottom: 2px solid #333;
}
.filter-options h2 {
  color: white;
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px 20px;
  padding-top: 10px;
}
.filter-options label {
  color: #fff;
  font-size: 14.67px;
  height: auto;
  letter-spacing: 0;
  margin-left: 20px;
  width: auto;
  display: inline-block;
}
.filter-options select {
  background-color: white;
  font-family: Arial,sans-serif;
  font-size: 18px;
  height: 35px;
  letter-spacing: 0;
  margin: 0 0 20px 5px;
  width: auto;
  transition: width 250ms linear;
}

/* ====================== Filtering Medias ====================== */

@media screen and (max-width:768px) {
  .filter-options label {
    width: 90%;
    margin-bottom: 0;
  }
  .filter-options select {
    margin: 0 0 20px 20px;
    padding: 0 10px;
    width: 90%;
  }
}

/* ====================== Restaurant Listing ====================== */
.list-container {
  height: auto;
  overflow: scroll;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.list-container::-webkit-scrollbar {
  width: 20px;
}

.list-container::-webkit-scrollbar-track {
  background: #333;
}

.list-container::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 10px;
}

.list-container::-webkit-scrollbar-thumb:hover {
  background: #be6601;
}

#restaurants-list {
  background-color: #444;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  width: auto;
}
#restaurants-list .info-container {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  border: 5px solid #333;
  font-family: Arial,sans-serif;
  height: 400px;
  text-align: left;
  width: 270px;
}
#restaurants-list .info-wrapper {
  position: absolute;
  height: 100%;
  width: 80%;
  padding: 5% 0;
  top: 25%; left: 25%;
  transform: translate(-25%, -25%);
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
  white-space: normal;
}
#restaurants-list p {
  color: #fff;
  margin: 0;
  font-size: 16px;
  white-space: normal;
}
#restaurants-list span {
  font-weight: bold;
  background-color: #444;
}
#restaurants-list .more-button {
  width: auto;
  position: absolute;
  bottom: 5%;
  transform: translateY(-25%);
  background-color: #135286;
  border: 3px solid #fff;
  color: orange;
  display: inline-block;
  padding: 8px 30px;
  font-size: 13.33px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#restaurants-list .more-button:hover {
  cursor: pointer;
  background-color: orange;
  color: #444;
}
#restaurants-list .error-container {
  padding: 30px 0;
}
#restaurants-list .error-query-icon {
  font-size: 10rem;
}
#restaurants-list .error-query {
  font-size: 20px;
  color: orange;
}

/* ====================== Restaurant Listing Medias ====================== */
@media screen and (max-width: 768px) {
  .list-container {
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: normal;
  }
  #restaurants-list {
    height: auto;
  }
  #restaurants-list .info-container {
    border-radius: 0;
    margin: 0 auto;
    width: 100%;
  }
  #restaurants-list .more-button {
    font-size: 25px;
  }
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: static;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 100%;
  width: 50%;
  float: right;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside .details-container {
  width: 50%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: normal;
}
.inside .details-container::-webkit-scrollbar {
  width: 20px;
}

.inside .details-container::-webkit-scrollbar-track {
  background: #333;
}

.inside .details-container::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 10px;
}

.inside .details-container::-webkit-scrollbar-thumb:hover {
  background: #be6601;
}
#restaurant-name {
  color: #f58500;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 700;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	max-width: 100%;
}
#restaurant-address {
  color: #f58500;
  font-size: 25px;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  padding: 20px 30px;
  width: 100%;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 30px;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-container li {
  background-color: #fff;
  display: block;
  list-style-type: none;
  width: 100%;
  margin: 0 0 50px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
#reviews-container li .name-date {
  position: relative;
  background-color: #444;
  color: #fff;
  width: 100%;
  height: 60px;
  border-top-left-radius: inherit;
}
#reviews-container li .name-date > span:first-child {
  position: absolute;
  top: 16px;
  left: 25px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
#reviews-container li .name-date > span:last-child {
  display: inline-block;
  position: absolute;
  top: 16px;
  right: 25px;
  color: #f3f3f3ab;
  font-size: 18px;
}
#reviews-container li .rating {
  display: inline-block;
  margin: 35px 16px 0;
  padding: 8px;
  border-radius: 5px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #f58500;
  color: #fff;
}
#reviews-container li .comments {
  font-size: 18px;
  padding: 16px;
  border-bottom-right-radius: inherit;
}
#restaurant-hours td {
  color: #f3f3f3;
  font-size: 20px;
}

/* ====================== Details Medias ====================== */

@media screen and (min-width: 769px) {
  .inside #maincontent {
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  .inside #maincontent {
    height: auto;
  }
  .inside #map-container, .inside .details-container {
    position: static;
    overflow: hidden;
    width: 100%;
  }
  .inside #map-container {
    height: 250px;
  }
}